* {
  all: unset; //Unsets everything so you can style everything from scratch
    font-family: "NotoSansM Nerd Font Mono", monospace;
}

// General Styles
window {
    margin-bottom: 10px;
}

.sidestuff slider {
  all: unset;
  color: #D5C3B5;
}

.metric scale trough highlight {
  all: unset;
  background-color: #8E7753;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #D5C3B5;
  border-radius: 5px / 40px;
  min-height: 3px;
  min-width: 50px;
  padding: 10px 0;
  margin-right: 5px;
  background-clip: content-box;
}

.label {
  margin-right: 10px;
}

.xlarge {
  font-size: 125%;
}

.large {
  font-size: 100%;
}

.medium {
  font-size: 80%;
}

.small {
  font-size: 70%;
}

tooltip, .tooltip, menu {
  font-size: 1em;
  color: #89338E;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: rgba($color: #D5C3B5, $alpha: 0.95);
  border-radius: 0 8px 8px 8px;
  background-color: rgba($color: #FFFEFE, $alpha: 0.95);
}

menu {
  font-size: 14px;
  padding: 5px 0;
}
menuitem {
  margin: 1px 5px;
  padding: 1px 8px;
}

menuitem:hover {
  color: #D5C3B5;
  background-color: #231F1F;
}

// Specific Styles
.bar {
  font-size: 1.2em;
  color: #D5C3B5;
  margin-bottom:5px;
  border-bottom: 2px solid #8E7753;
  background-image: linear-gradient(25deg, #231F1F 97%, #8E7753);
}

.workspaces .workspace-entry {
  margin: 5px 1px;
  padding: 0 8px;
  border-radius: 10px;
  transition: 0.3s;
}

.workspaces .current {
  color: #89338E;
  background-color: #FFFEFE;
}

.workspaces .workspace:hover .workspace-entry {
  color: #FFFEFE;
  background-color: #89338E;
  transition: 0.3s;
}

.left {
  margin-left: 13px;
}

.right {
  margin-right: 13px;
}

.center {
  margin: 0 20px;
}

.lowbat {
  color: #C06262;
}
