[Unit]
Description=Eww Startup Service
After=graphical-session.target

[Service]
Type=exec
ExecStart=eww daemon --no-daemonize
Restart=no

[Install]
WantedBy=graphical-session.target
