[Desktop Entry]
Type=Application
Name=QQ Music Client
Comment=QQ Music Client for Linux
Exec="\$HOME/Applications/qqmusic-1.1.5.AppImage --no-sandbox --disable-gpu"
StartupNotify=false
Terminal=false
MimeType=
