@define-color base rgba(35, 31, 31, 0.99);
@define-color white #FFFEFE;
@define-color cream #FFF7E4;
@define-color lightbrown #D5C3B5;
@define-color brown #8E7753;
@define-color lightpurple #AE54A1;
@define-color purple #89338E;
@define-color blue #4794CE;
@define-color red #C06262;
@define-color black #231F1F;

* {
  font: 16px "Nerd Font";
  color: @purple;
}

window {
  border: none;
  background: none;
}

#input {
  margin: 5px;
  background-color: transparent;
  border: transparent;
}

#outer-box {
  margin: 5px;
  padding: 5px;
  border-radius: 0 0.8em 0.8em 0.8em;
  background-color: @white;
  border-right: 2px solid @lightbrown;
  border-bottom: 2px solid @lightbrown;
}

#img {
  margin: 0 3px;
  padding: 2px;
  background-color: @white;
  border-radius: 0.4em;
}

#text {
  padding: 5px;
  border: none;
}

#text:selected {
  color: @cream;
}

#entry {
  margin: 5px;
  border-radius: 0 0.5em 0.5em 0.5em;
  border: 2px solid @black;
  transition: background-color 0.2s linear;
}
#entry:selected {
  background-color: @black;
  border-color: @black;
  transition: background-color 0.2s linear;
}

#entry:selected > expander > * > * {
  // keeps that triangle happy;
  color: @cream;
}

#entry #expander-box {
  background-color: transparent;
}

#entry #entry {
  background-color: @white;
  border: none;
  margin: 5px;
}

#entry #entry #text {
  color: @purple;
}

#entry #entry:selected {
  border-color: @blue;
  background-color: @blue;
}

#entry #entry:selected #text {
  color: @white;
}
